<Application
  x:Class="MainDataDashboard.App"
  xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
  xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
  xmlns:materialDesign="http://materialdesigninxaml.net/winfx/xaml/themes"
  xmlns:dx="http://schemas.devexpress.com/winfx/2008/xaml/core"
  xmlns:vm="clr-namespace:MainDataDashboard.ViewModels"
  StartupUri="Views/MainWindow.xaml">

	<Application.Resources>
		<ResourceDictionary>
			<ResourceDictionary.MergedDictionaries>
				<!-- ثيم Material Dark -->
				<ResourceDictionary Source="pack://application:,,,/MaterialDesignThemes.Wpf;component/Themes/MaterialDesignTheme.Dark.xaml"/>
				<ResourceDictionary Source="pack://application:,,,/MaterialDesignThemes.Wpf;component/Themes/MaterialDesignTheme.Defaults.xaml"/>
				<!-- ألوان Material -->
				<ResourceDictionary Source="pack://application:,,,/MaterialDesignColors;component/Themes/Recommended/Primary/MaterialDesignColor.Indigo.xaml"/>
				<ResourceDictionary Source="pack://application:,,,/MaterialDesignColors;component/Themes/Recommended/Accent/MaterialDesignColor.Pink.xaml"/>
				<!-- ثيم DevExpress -->
				<ResourceDictionary Source="pack://application:,,,/DevExpress.Xpf.Core.v24.1;component/Themes/Office2019Colorful.xaml"/>
				<!-- موارد الألوان المخصصة -->
				<ResourceDictionary Source="Colors.xaml"/>
			</ResourceDictionary.MergedDictionaries>

			<!-- هنا تُعرّف MainVM -->
			<vm:MainViewModel x:Key="MainVM"/>

		</ResourceDictionary>
	</Application.Resources>
</Application>
